.AwesomeTable {
	width: 100%;
	th {
		text-align: left;
		background-color:pink;
	}
	td, th {
		border: 1px solid #ddd;
		padding: 8px
	}
	.statFooter {
		font-weight: bold;
		text-align: center;
	}
}